/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f8f8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.header-modern {
    background-color: #1f2937; /* Gris oscuro para el fondo del header */
    color: #fff;
    padding: 3rem 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative; /* Para la animación del título */
    overflow: hidden; /* Para asegurar que las animaciones no se desborden */
}

.header-title {
    font-family: 'Poppins', sans-serif; /* Cambiado a Poppins */
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    /* Estilos iniciales para la animación JS */
    opacity: 0;
    transform: translateY(-20px);
}

.header-subtitle {
    font-size: 1.25rem;
    font-weight: 300;
    color: #cbd5e0; /* Un gris más claro para el subtítulo */
}

/* Main Content */
.main-content {
    padding: 3rem 0;
}

/* Fade-in Section */
.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    will-change: opacity, transform;
    margin-bottom: 2rem; /* Espacio entre secciones */
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}

/* Code Block Toggle */
.toggle-code-button {
    cursor: pointer;
    background-color: #00416A; /* Tailwind blue-500 */
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem; /* rounded */
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease;
    display: inline-block; /* Asegura que el padding funcione bien */
    margin-top: 1rem;
}

.toggle-code-button:hover {
    background-color: #006D6F; /* Tailwind blue-600 */
}

.code-block {
    display: none; /* Oculto por defecto, JS lo muestra */
    background-color: #2D3748; /* Tailwind gray-800 */
    color: #E2E8F0; /* Tailwind gray-200 */
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-x: auto;
    font-family: 'Poppins', sans-serif; /* Cambiado a Poppins */
    margin-top: 1rem;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
}